body{
    margin: 0 ;
    font-family: sans-serif;
    background-color: rgb(33, 33, 33);
}
#container{
    /* background-image: url(../assets/background.jpg); */
    height: 700px;
    padding: 25px;
    /* background: linear-gradient(rgba(0,0,0,0.247), rgb(0,0,0)),url(../assets/background.jpg); */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.8) 90%),url(../assets/background.jpg);
}

#logo{
    width: 160px;
}
#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    /* justify-content: space-around; */
    /* background-color: blue; */
}
select{
    padding: 5px 14px;
    font-size: 17px;
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
}
option{
    background-color: gray;
}
#btn-enter{
    margin-left: 20px;
    padding: 7px 17px;
    font-size: 14px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
}

#main-content{
    text-align: center;
}
h1,h2,h3{
    color: white;
}
h2,h3{
    font-weight: lighter;
}
.section-title{
    font-size: 58px;
    margin-top: 150px;
}
form{
    display: flex;
    justify-content: center;
}
input{
    border-radius: 5px;
}
#email{
    height: 50px;
    width: 500px;
    padding: 10px;
}
#btn-start{
    margin-left: 10px;
    width: 200px;
    font-size: 28px;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
}
section{
    background-color: black;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
